*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color:#1855a3;
}
header .navbar{
    background-color:#1855a3;
}

 .navbar-brand{
    font-weight: bold;
    font-size: 0.9in;
}.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}
  
.dropdown:hover .dropbtn {
    background-color: transparent;
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
    display: block;
}



.btn{
    color:white !important;
    background-color: black !important;
}
.login{
    font-weight:900 !important;
}
.login:hover{
    color: black !important;
    background-color: #1e64c0 !important;
    border-color: white;
    font-weight: 900;
    border-width: 2px;
}
.one:hover{
    color: goldenrod !important;
}
.footer2{
    background-color: black;
    font-size: 14px;
    color: white;
}
.footerlink{
    color: white !important;
    text-decoration: none;
}
.footerlink:hover{
    text-decoration: none;
    color:  rgb(122, 245, 239) !important;
}
.content{
    text-align: center;
    justify-content: center;
}
.px-2{
    color: white;
}
.facebook:hover{
    text-decoration: none;
    color:  #1e64c0;
    transition-duration: 0.2s;
}
.instagram:hover{
    text-decoration: none;
    color:  rgb(250, 91, 197);
    transition-duration: 0.2s;
}
.twitter:hover{
    text-decoration: none;
    color:  #64a5fa;
    transition-duration: 0.2s;
}
.telegram:hover{
    text-decoration: none;
    color:  rgb(122, 245, 239);
    transition-duration: 0.2s;
}
/* Responsiveness */
@media(max-width: 576px){
    .text-head{
        padding-top: 3px;
    }
    .img {
        padding-top: 4.3rem;
    }
    header{
        height: 100vh;
    }
}
