*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
body{
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #444;
  top: 0;
  left: 0;
  padding: 6px 14px;
}
.sidebar .logo-content .logo{
  color: white;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;

}
.logo-content .logo i{
  font-size: 28px;
  margin-right: 5px;
}
.logo-content .logo .logo-name{
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn{
  position: absolute;
  color: white;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar ul{
  margin-top: 20px;
}
.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  margin: 0 5px;
  line-height: 50px;
}
.sidebar ul li a{
  color: white;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  border-radius: 12px;
}
.sidebar ul li a:hover{
  background-color: white !important;
  color: #11101d;
}
.sidebar ul li i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: white;

}
.sidebar ul li .fa-search{
  position: absolute;
  z-index: 99;
  color: white !important;
  font-size: 22px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width: 92%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  .panel {
    padding: 0 60px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }